/* Styles.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}
.wrapper { 
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: flex-start; 
    min-height: 100%; 
}
#map {
    width: 80%;
    height: 0;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex-grow:1;
}

.map-container {
    width: 600px;
    height: 400px;
    margin: 20px auto;
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#userLocation {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.gpsForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.gpsForm label {
    margin-bottom: 5px;
}

.gpsForm input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitButton {
    text-align: center;
}

.submitButton input[type="submit"] {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#userLocation, .gpsForm { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slider{
    text-align: center;
}