body {
    font-family: sans-serif;
    margin: 20px;
    text-align: center;
}
h1 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}
#accuracy{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#accuracyDiv{
    display: flex;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
#questions{
    display: flex;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
#individualQuestions{
    display:flex;
    flex-direction: row;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.question {
    margin-bottom: 20px;
}